.header__lang-link {
  margin: 18px 0 6px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s linear;
}
.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link:first-child {
  margin-right: 18px;
}
@media (max-width: 425px) {
  .header__lang-link {
    margin: 14px 0 8px;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
  }
}
