.place__image {
  width: 100%;
}
@media (max-width: 605px) {
  .place__image {
    margin: 0 24px 32px;
    width: calc(100% - 48px);
  }
}
@media (max-width: 425px) {
  .place__image {
    margin: 0 0px 32px;
    width: 100%;
  }
}
