.cover {
  margin: 0 0 92px;
  width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .cover {
    width: 100%;
  }
}
@media (max-width: 1184px) {
  .cover {
    min-height: calc(100vw / 1.6);
  }
}
@media (max-width: 605px) {
  .cover {
    margin-bottom: 64px;
  }
}
