.cover {
  margin: 0 0 92px;
  width: 1184px;
  height: 740px;
  position: relative;
}
@media (max-width: 1184px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}
@media (max-width: 1024px) {
  .cover {
    height: 480px;
  }
}
@media (max-width: 768px) {
  .cover {
    height: 378px;
  }
}
@media (max-width: 605px) {
  .cover {
    height: 200px;
    margin-bottom: 64px;
  }
}
