.lead__caption {
  margin: 0;
  align-self: flex-start;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 928px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media (max-width: 700px) {
  .lead__caption {
    margin-left: 16px;
  }
}
